body {
    background-color: #1B3C53;
    color: white
}

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    text-align: center;
}

.content-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr {
    background-color: #677D6A;
    color: white;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid white;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #1B4242;
}
.content-table tbody tr:nth-of-type(odd) {
    background-color: #5C8374;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #677D6A;
}
